@import 'src/components/rem';

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(233px);
    width: 100%;
    padding: rem(16px) rem(8px) rem(16px) rem(16px);

    background: var(--color-white);
    border: rem(1px) solid var(--color-gray);
    border-radius: rem(4px);
    color: var(--color-black);
    cursor: default;
    transition: all 0.3s ease;

    margin-right: rem(16px);

    &:last-child {
        margin-right: 0;
    }

    h1 {
        color: var(--btn-blue-700);
    }

    .desc {
        white-space: nowrap;
    }
}

.link {
    cursor: pointer;

    &:hover {
        background: var(--color-gray-blue);
    }
}

@media screen and (max-width: 1280px) {
    .base {
        max-width: rem(214px);
    }
}

@media screen and (max-width: 990px) {
    .base {
        max-width: none;
        margin-left: 0;
        margin-bottom: rem(8px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
