@import 'src/components/rem';

.base {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: rem(140px) rem(242px);
    grid-column-gap: rem(16px);
    margin: rem(8px) 0;

    label {
        justify-self: end;
        text-align: right;
        font-size: rem(15px);
        line-height: rem(18px);
    }

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }
}

.options {
    max-width: rem(242px);
    max-height: rem(242px);
    overflow-y: scroll;

    position: absolute;
    top: rem(46px);
    left: rem(156px);
    right: 0;

    border: rem(1px) solid var(--color-gray);
    background: #ffffff;
    z-index: 1;
}

.option {
    padding: rem(8px) rem(24px);
    cursor: pointer;
}

.option:hover {
    background: var(--btn-blue-700);
    color: var(--color-white);
}

@media screen and (max-width: 769px){
    .grid {
        display: block;

        label {
            text-align: left;
        }
    }
}
