@import 'src/components/rem';

.base {
    display: grid;
    grid-template-columns: rem(140px) auto;
    grid-column-gap: rem(16px);
    margin: rem(8px) 0;
    position: relative;
}

.content {
    overflow: hidden;
}

.title {
    justify-self: end;
    text-align: right;
}

.fio {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
