@import 'src/components/rem';

.base {
    display: grid;
    grid-template-columns: rem(140px) 1fr;
    grid-column-gap: rem(16px);

    label {
        justify-self: flex-end;
        text-align: right;
    }

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }

    @media screen and (max-width: 769px) {
        display: block;

        label {
            text-align: left;
        }
    }
}

.middle {
    @extend .base;

    * {
        max-width: rem(242px);

        @media screen and (max-width: 769px) {
            max-width: none;
        }
    }
}

.infoPay {
    display: inline-block;
    margin-top: rem(4px);
    margin-left: rem(156px);

    @media screen and (max-width: 769px) {
        margin-left: 0;
    }
}
