@import '../index';
@import '../rem';

.base {
    padding: 0;
}

.navigation {
    display: inline-grid;
    grid-column-gap: rem(1px);
    border-radius: rem(4px);
    border: rem(1px) solid var(--color-gray);
    background: var(--color-gray);
}

.container {
    margin-top: rem(16px);
}