@import '../index';
@import '../rem';

.base {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: rem(16px) rem(24px);
  border-top: 1px solid var(--color-gray);

  *:not(:last-child) {
    margin-right: rem(8px);
  }
}

.minorButton {
  display: flex;
}

.majorButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.children {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  *:not(:last-child) {
    margin-right: rem(8px);
  }
}

@media screen and (max-width: 768px) {
  .minorButton, .majorButton {
    * {
      width: 100%;
    }
  }

  .minorButton {
    width: 100%;
  }

  .children {
    * {
      width: 100%;
      justify-content: space-between;
    }
  }
}