@import '../index';
@import '../rem';

.base {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3000;
}

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-black);
  opacity: 0.3;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: rem(720px);
  width: 100%;
  background: var(--color-white);
  border-radius: rem(5px);
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: rem(16px);
  right: rem(16px);

  &:hover {
    background-color: var(--color-transparent) !important;

    svg path {
      fill: var(--btn-blue-700);
    }
  }
}

.fullHeight {
    top: 0;
    bottom: 0;
    transform: translate(-50%, 0);

    div[data-module='content'] {
        overflow-y: scroll;
        height: calc(100% - 146px);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
  .content {
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    height: 100vh;
  }
}
