@import '../rem';

.base {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, rem(24px));

  padding: rem(12px) rem(72px) rem(12px) rem(24px);
  border-bottom: rem(1px) solid var(--color-gray);

  .header {
    grid-column: 1/3;
    align-self: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .description {
    grid-column: 1/3;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}