@import 'src/components/rem';

.base {
    display: flex;
    box-shadow: inset 0 rem(-1px) 0 var(--color-black);
}

.children-cell * {
    pointer-events: auto;
}

.children-cell {
    max-width: 100px;
}

.hover {
    pointer-events: auto;

    &:hover {
        color: var(--color-blue-hover);
    }
}

.active {
    color: var(--color-blue-hover);
}
