@import 'src/components/rem';

.base {
    position: relative;
    display: flex;
    transition: all 0.3s ease;
    box-shadow: inset 0 rem(-1px) 0 var(--color-gray);

    .custom-cell *, .children-cell * {
        pointer-events: auto;
    }

    .children-cell {
        max-width: 100px;
    }

    .custom-cell svg {
        margin-left: 0;
    }

    .custom-cell {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: auto;
        background: var(--color-gray-blue);
        box-shadow: inset 0 rem(-1px) 0 var(--color-gray);

        display: flex;
        justify-content: flex-end;
        pointer-events: none;
        visibility: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }

    &:hover {
        background: var(--color-gray-blue);

        .custom-cell {
            pointer-events: auto;
            visibility: visible;
        }
    }
}

.paragraph {
    grid-column: 1/2;
    grid-row: 1/2;

    align-self: center;
    margin-bottom: 0;
}

.description {
    grid-column: 1/2;
    grid-row: 2/3;
    color: var(--color-gray-500);
}

.button {
    grid-column: 2/3;
    grid-row: 1/2;
}

.icon {
    path {
        fill: var(--color-gray-500) !important;
    }
}

