@import 'src/components/rem';

.base {
    display: flex;
    box-shadow: inset 0 rem(-1px) 0 var(--color-black);
    background: var(--color-white);

    position: sticky;
    top: 0;
    z-index: 10;
}

.hover {
    pointer-events: auto;
    cursor: pointer;

    &:hover {
        color: var(--color-blue-hover);
    }
}

.active {
    color: var(--color-blue-hover);
}

.label-end {
    justify-content: flex-end;
}

.children-cell * {
    pointer-events: auto;
}

.children-cell {
    max-width: rem(60px);
    overflow: visible;
}

.checkbox-cell{
    flex: 0 0 0;
    width: auto;
    overflow: visible;
}
