@import 'src/components/rem';

.base {
    padding: 0;
}

.shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;

    background: var(--color-black);
    opacity: 0.67;
}

.content {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 21;

    padding: rem(16px) rem(24px);
    background: var(--color-white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        width: auto;
    }
}

.paragraph {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(16px);

    button {
        visibility: visible !important;
    }
}

.buttons > * {
    position: static !important;
}
