@import 'src/components/rem';

$widthOffsetMobile: rem(32px);

.accordion {
    .header {
        display: flex;
        position: relative;
        align-items: center;
        font-size: rem(17px);
        line-height: rem(24px);
        padding: rem(8px) rem(4px);
        font-weight: 700;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            height: rem(1px);
            bottom: 0;
            width: 100%;
            background-color: var(--color-gray);
        }

        &:not(.disabled):hover,
        &:not(.disabled):focus {
            color: var(--color-blue-hover)
        }

        &.disabled {
            cursor: not-allowed;
        }

        .title {
            display: inline-block;
            padding-left: rem(16px);
        }
    }

    &.mobile {
        .header {
            padding: rem(8px) rem(16px) rem(8px) rem(20px);

            &:after {
                width: calc(100% - #{$widthOffsetMobile});
            }
        }
    }

    .container {
        max-height: 0;
        overflow: hidden;

        &.visible {
            max-height: none;
            margin-bottom: rem(16px);
        }
    }

    .badge {
        opacity: 0.5;
        padding: 0 rem(8px);
    }
}
