@import '../index';
@import '../rem';

.base {
    display: flex;
    align-items: center;

    :not(:last-child) {
        margin-right: rem(6px);
    }
}

.vertical {
    flex-direction: column;
    align-items: flex-start;

    :not(:last-child) {
        margin-right: 0;
        margin-bottom: rem(6px);
    }
}