@import "../rem";

.link a {
    display: block;
    padding: rem(12px) rem(24px);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: rem(15px);
    line-height: rem(24px);
    color: var(--color-black);
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: rem(24px);
        background: #E7EAEE;
    }

    &.muted, &.muted > * {
        color: #8F92A3;
    }

    &.active, &.active > *, &.active > * > *  {
        color: var(--color-white);
        background: var(--color-primary);
    }

    &.active:after {
        display: none;
    }
}
