@import 'src/components/rem';

.base {
    display: inline-flex;
    align-items: center;
    margin-left: rem(2px);
}

.content {
    @extend .base;
}

.icon {
    margin-left: rem(6px);

    * {
        fill: var(--color-red-700)
    }
}

.warning {
    color: var(--color-red-700);
}

.info > div {
    width: rem(385px);

    p {
        white-space: normal;
    }
}

.verified {
    @extend .icon;

    * {
        fill: var(--color-gray-600)
    }
}

.check {
    border: none;
    outline: none;
    color: var(--color-primary);
    background: var(--color-transparent);
    margin-left: rem(12px);

    font-weight: normal;
    font-size: rem(15px);
    line-height: rem(24px);
}

.checking {
    color: var(--color-gray-500);
    margin-left: rem(12px);
}

.success {
    * {
        fill: var(--color-green-500)
    }
}

.error {
    * {
        fill: var(--color-red-700)
    }
}
