@import 'src/components/rem';

.grid {
    display: grid;
    grid-template-columns: rem(140px) 300px;
    grid-column-gap: rem(16px);
    margin: rem(16px) 0;

    label {
        justify-self: end;
    }

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }
}

.popup {
    label {
        color: var(--color-black);
    }
}

.search-phone {
    display: flex;
    align-items: center;

    .grid {
        margin-right: rem(16px);
    }
}

@media screen and (max-width: 768px) {
    .grid, .search-phone {
        display: block;
    }
}
