@import 'src/components/rem';

.base {
    margin-top: rem(8px);
}

.retry {
    display: inline-block;
    margin-top: rem(8px);
    color: var(--color-primary);
    cursor: pointer;
}

.input {
    max-width: rem(148px);
}

.field {
    display: flex;
    align-items: center;
}
