@import 'src/components/rem';

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(8px);

    background: #E7EAEE;
    border-radius: 4px;
}

.content {
    color: var(--color-black);
    display: grid;
    grid-template-columns: rem(24px) auto;
    grid-column-gap: rem(8px);
    white-space: normal;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.icon-stick {
    margin-right: rem(8px);
}

.icon-cross {
    cursor: pointer;
}
