@import '../rem';

.base {
    display: flex;
    padding: 0 rem(16px);
    height: rem(33px);
    align-items: center;
    cursor: pointer;

    .content {
        display: block;
        font-size: rem(15px);
        line-height: rem(24px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: var(--btn-primary-hover);
        color: var(--color-white);
    }
}
