.shift-20 > * {
    padding-left: 20px;
}

.shift-20 > .shift-20 > * {
    margin-left: -20px;
    padding-left: 40px;
}

.shift-40 > * {
    padding-left: 40px;
}

.shift-40 > .shift-40 > * {
    margin-left: -40px;
    padding-left: 80px;
}

.shift-60 > * {
    padding-left: 60px;
}

.shift-60 > .shift-60 > * {
    margin-left: -60px;
    padding-left: 120px;
}
