@import '../rem';

.wrapper {
  position: relative;
  display: inline-block;
}

.label {
  font-size: rem(15px);
  line-height: rem(24px);
  align-self: center;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  right: rem(8px);
  top: rem(8px);
}

.overlay {
  position: absolute;
  left: 0;
  top: rem(72px);
  z-index: 2;
}

.base {
  background: #FFFFFF;
  border: rem(1px) solid var(--color-gray);
  box-sizing: border-box;
  box-shadow: var(--small-shadow);
  border-radius: rem(8px);
  padding: rem(16px);
  width: rem(312px);

  button {
    background: transparent;
    border: none;
    outline: none;
  }
}

.grid {
  display: inline-grid;
  grid-template-columns: rem(140px) 1fr;
  grid-column-gap: rem(16px);
}

.left {
  left: rem(156px);
  top: rem(46px);
}

.normal {
  left: 0;
  top: rem(46px);
}