@import 'src/components/rem';

.grid {
    display: grid;
    grid-template-columns: rem(140px) 1fr;
    grid-column-gap: rem(16px);

    label {
        justify-self: flex-end;
    }

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(152px);
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }

    .loader {
        height: 100%;
    }
}
