@import "../index";
@import "../rem";

.base {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        box-shadow: inset 0px -1px 0px var(--color-gray);

        .description {
            padding: rem(8px);
            flex-grow: 1;

            .mainText, .descriptionText {
                max-height: rem(24px);
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .mainText {
                line-height: rem(24px);
                font-size: rem(15px);
            }

            .descriptionText {
                line-height: rem(24px);
                font-size: rem(12px);
                color: rgba(33, 33, 33, 0.5)
            }
        }

        .info {
            flex-shrink: 0;
            max-width: rem(24px);
            padding-right: rem(8px);
            padding-top: rem(12px);
        }
    }
}
