@import "../index";
@import "../rem";

.base {
    display: flex;
    margin-bottom: rem(8px);

    .title {
        flex-basis: 100%;
        font-weight: bold;
        font-size: rem(17px);
        line-height: rem(24px);
        max-height: rem(24px);
    }

    .toolbar {
        flex-shrink: 0;
        padding-left: rem(16px);
        max-height: rem(24px);

        & > *:nth-child(n) {
            margin-right: rem(8px);
        }

        & > *:last-child {
            margin-right: 0;
        }
    }
}
