@import "../index";
@import "../rem";

.base {
    display: flex;
    flex-direction: column;

    .main {
        font-weight: bold;
        font-size: rem(15px);
        line-height: rem(24px);
        margin-bottom: rem(16px);
    }

    .normal {
        font-size: rem(15px);
        line-height: rem(24px);
    }

    .edit {
        display: flex;
        margin-top: rem(16px);
        width: 100%;
    }
}
