@import '../rem';

.rbc-btn {
    color: inherit;
    font: inherit;
    margin: 0;
}

button.rbc-btn {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled].rbc-btn {
    cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.rbc-calendar {
    box-sizing: border-box;
    height: rem(286px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
    box-sizing: inherit;
}

.rbc-abs-full, .rbc-row-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rbc-rtl {
    direction: rtl;
}

.rbc-header {
    overflow: hidden;
    flex: 1 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
    min-height: 0;
    padding: rem(8px);

    span {
        display: inline-block;
        text-transform: capitalize;
        font-family: 'Helvetica', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: rem(12px);
        line-height: rem(24px);
    }
}

.rbc-row-content {
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    z-index: 4;
    height: rem(40px);

    .rbc-row:nth-child(1) {
        position: relative;
        z-index: 3;
        pointer-events: none;
    }

    .rbc-row:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}

.rbc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(10px);
    font-size: rem(16px);
}

.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1;
    padding: 0 rem(10px);
    text-align: center;
}

.rbc-toolbar button {
    color: #373a3c;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    border: rem(1px) solid #ccc;
    padding: .375rem 1rem;
    border-radius: rem(4px);
    line-height: normal;
    white-space: nowrap;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: inset 0 rem(3px) rem(5px) rgba(0, 0, 0, 0.125);
    background-color: #e6e6e6;
    border-color: #adadad;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
    color: #373a3c;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.rbc-toolbar button:focus {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.rbc-toolbar button:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.rbc-btn-group {
    display: inline-block;
    white-space: nowrap;
}

.rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbc-btn-group > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
    border-radius: rem(4px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
    border-radius: rem(4px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.rbc-btn-group button + button {
    margin-left: rem(-1px);
}

.rbc-rtl .rbc-btn-group button + button {
    margin-left: 0;
    margin-right: rem(-1px);
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
    margin-left: rem(10px);
}

.rbc-event {
    box-sizing: border-box;
    box-shadow: none;
    margin: 0 0 rem(-1px) 0;
    background-color: var(--color-yellow-800);
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rbc-slot-selecting .rbc-event {
    cursor: inherit;
    pointer-events: none;
}

.rbc-event.rbc-selected {
    background-color: var(--color-yellow-900);
}

.rbc-event:focus {
    outline: none;
}

.rbc-event-label {
    font-size: 80%;
}

.rbc-event-overlaps {
    box-shadow: rem(-1px) rem(1px) rem(5px) 0 rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.rbc-event-continues-later {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.rbc-row {
    display: flex;
    flex-direction: row;
}

.rbc-row-segment {
    position: relative;
}

.rbc-selected-cell {
    background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 4;
    font-weight: bold;
    font-size: 85%;
    height: auto;
    line-height: normal;
}

.rbc-month-view {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
}

.rbc-month-header {
    display: flex;
    flex-direction: row;
    border-bottom: rem(1px) solid var(--color-black);
}

.rbc-month-row {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 0 0;
    flex-basis: 0;
    overflow: hidden;
}

.rbc-date-cell {
    display: inline-flex;
    align-items: center;
    flex: 1 1 0;
    min-width: 0;
    text-align: left;
    padding: rem(8px);

    a {
        font-family: 'Helvetica', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: rem(15px);
        line-height: rem(24px);
        color: var(--color-black);
        pointer-events: none;
        cursor: default;
    }
}

.rbc-now {
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
        background: var(--color-alert);
        color: var(--color-white) !important;
        z-index: -1;
    }
}

.rbc-date-cell.rbc-now {
    font-weight: bold;
}

.rbc-row-bg {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    overflow: hidden;
    border-bottom: rem(1px) solid var(--color-gray);
}

.rbc-day-bg {
    flex: 1 0 0;
}

.rbc-overlay {
    position: absolute;
    z-index: 5;
    border: rem(1px) solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 rem(5px) rem(15px) rgba(0, 0, 0, 0.25);
    padding: rem(10px);
}

.rbc-overlay > * + * {
    margin-top: rem(1px);
}

.rbc-overlay-header {
    border-bottom: rem(1px) solid #e5e5e5;
    margin: rem(-10px) rem(-10px) rem(5px) rem(-10px);
    padding: rem(2px) rem(10px);
}

.rbc-agenda-view {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    overflow: auto;
}

.rbc-agenda-view table.rbc-agenda-table {
    width: 100%;
    border: rem(1px) solid #DDD;
    border-spacing: 0;
    border-collapse: collapse;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
    padding: rem(5px) rem(10px);
    vertical-align: top;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
    padding-left: rem(15px);
    padding-right: rem(15px);
    text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
    border-left: rem(1px) solid #DDD;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
    border-left-width: 0;
    border-right: rem(1px) solid #DDD;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
    border-top: rem(1px) solid #DDD;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
    padding: rem(3px) rem(5px);
    text-align: left;
    border-bottom: rem(1px) solid #DDD;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
    text-align: right;
}

.rbc-agenda-time-cell {
    text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
    content: ' »';
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
    content: '« ';
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
    white-space: nowrap;
}

.rbc-agenda-event-cell {
    width: 100%;
}

.rbc-time-column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
    flex: 1;
}

.rbc-timeslot-group {
    border-bottom: rem(1px) solid #DDD;
    min-height: rem(40px);
    display: flex;
    flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
    flex: none;
}

.rbc-label {
    padding: 0 rem(5px);
}

.rbc-day-slot {
    position: relative;
}

.rbc-day-slot .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin-right: rem(10px);
    top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-rtl {
    left: rem(10px);
    right: 0;
}

.rbc-day-slot .rbc-event {
    border: rem(1px) solid #265985;
    display: flex;
    max-height: 100%;
    min-height: rem(20px);
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
}

.rbc-day-slot .rbc-event-label {
    flex: none;
    padding-right: rem(5px);
    width: auto;
}

.rbc-day-slot .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
    border-top: rem(1px) solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
    position: sticky;
    left: 0;
    background-color: white;
    border-right: rem(1px) solid #DDD;
    z-index: 10;
    margin-right: rem(-1px);
}

.rbc-time-view-resources .rbc-time-header {
    overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
    min-width: auto;
    flex: 1 0 0;
    flex-basis: 0;
}

.rbc-time-view-resources .rbc-time-header-cell-single-day {
    display: none;
}

.rbc-time-view-resources .rbc-day-slot {
    min-width: rem(140px);
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
    width: rem(140px);
    flex: 1 1 0;
    flex-basis: 0;
}

.rbc-time-header-content + .rbc-time-header-content {
    margin-left: rem(-1px);
}

.rbc-time-slot {
    flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
    font-weight: bold;
}

.rbc-day-header {
    text-align: center;
}

.rbc-slot-selection {
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 75%;
    width: 100%;
    padding: rem(3px);
}

.rbc-slot-selecting {
    cursor: move;
}

.rbc-time-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border: rem(1px) solid #DDD;
    min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
    white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    position: relative;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
    border-left: rem(1px) solid #DDD;
}

.rbc-time-view .rbc-allday-events {
    position: relative;
    z-index: 4;
}

.rbc-time-view .rbc-row {
    box-sizing: border-box;
    min-height: rem(20px);
}

.rbc-time-header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
    border-right: rem(1px) solid #DDD;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
    border-right-width: 0;
    border-left: rem(1px) solid #DDD;
}

.rbc-time-header > .rbc-row:first-child {
    border-bottom: rem(1px) solid #DDD;
}

.rbc-time-header > .rbc-row.rbc-row-resource {
    border-bottom: rem(1px) solid #DDD;
}

.rbc-time-header-cell-single-day {
    display: none;
}

.rbc-time-header-content {
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    border-left: rem(1px) solid #DDD;
}

.rbc-rtl .rbc-time-header-content {
    border-left-width: 0;
    border-right: rem(1px) solid #DDD;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
    border-bottom: rem(1px) solid #DDD;
    flex-shrink: 0;
}

.rbc-time-content {
    display: flex;
    flex: 1 0 0%;
    align-items: flex-start;
    width: 100%;
    border-top: rem(2px) solid #DDD;
    overflow-y: auto;
    position: relative;
}

.rbc-time-content > .rbc-time-gutter {
    flex: none;
}

.rbc-time-content > * + * > * {
    border-left: rem(1px) solid #DDD;
}

.rbc-rtl .rbc-time-content > * + * > * {
    border-left-width: 0;
    border-right: rem(1px) solid #DDD;
}

.rbc-time-content > .rbc-day-slot {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.rbc-current-time-indicator {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: rem(1px);
    background-color: #74ad31;
    pointer-events: none;
}

.rbc-off-range {
    a {
        color: var(--color-gray-500);
    }
}

.rbc-off-range-bg {
    background: var(--color-transparent);
}
