@import 'src/components/rem';

.filter {
    display: flex;

    & > div:not(:last-child) {
        margin-right: rem(16px);
    }
}

.navigation {
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(4, auto);
    width: auto;
    display: inline-grid;
    grid-column-gap: rem(1px);
    border-radius: rem(4px);
    border: rem(1px) solid var(--color-gray);
    background: var(--color-gray);
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .filter {
        display: block;
    }
}
