@import 'src/components/rem';

.base {
    position: relative;
}

.input {
    display: grid;
    grid-template-columns: rem(140px) rem(414px);
    grid-column-gap: rem(16px);
    position: relative;
    width: 100%;

    label {
        justify-self: end;
        text-align: right;
        font-size: rem(15px);
        line-height: rem(18px);
        align-self: center;
    }

    div {
        max-width: rem(414px);
    }
}

.options {
    max-width: rem(414px);
    width: 100%;
    position: absolute;
    top: rem(44px);
    left: rem(156px);
    z-index: 10;


    background: var(--color-white);
    box-shadow: var(--small-shadow);
    border-radius: rem(4px);
}

.option {
    padding: rem(8px) rem(16px);
    cursor: pointer;

    .phone {
        color: var(--color-gray-600);
    }

    &:hover {
        background-color: var(--btn-blue-700);
        color: var(--color-white);

        .phone {
            color: var(--color-white);
        }
    }
}

.emptyOption {
    @extend .option;

    cursor: default;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
    }
}

.searchField {
    display: inline-flex;
    align-items: center;

    .input {
        margin-right: rem(16px);
    }

    span {
        grid-column: 2/3;
    }
}

@media screen and (max-width: 767px) {
    .searchField {
        display: block;
    }

    .options {
        top: rem(60px);
        left: 0;
    }

    .input {
        display: block;

        label {
            text-align: left;
        }
    }
}
