@import 'src/components/rem';

.custom-label-x, .custom-label-y {
    font-style: normal;
    font-weight: normal;
    font-size: rem(12px);
    line-height: rem(16px);
}

.custom-label-x {
    fill: var(--color-gray-600);
}

.custom-label-y {
    fill: var(--color-black);
}

.axisTickX {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
