@import 'src/components/rem';

.empty {
    display: flex;
    align-items: center;
    justify-content: center;

    width: rem(434px);
    height: rem(150px);

    color: var(--color-gray-500);
}

.legends {
    margin-top: rem(24px);
}

.legends-dot {
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    margin-right: rem(8px);
}

.legends-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legends-name {
    display: flex;
    align-items: center;
}
