@import 'src/components/rem';

.chart {
    display: flex;
    justify-content: space-between;
}

.legends {
    min-width: rem(250px);
    max-width: rem(250px);
    margin-top: rem(20px);
}

.legends-dot {
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    align-self: center;
    margin-right: rem(8px);
}

.legends-line {
    display: grid;
    grid-template-columns: rem(8px) 1fr auto;
    grid-column-gap: rem(8px);
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;

    width: rem(434px);
    height: rem(150px);

    color: var(--color-gray-500);
}

@media screen and (max-width: 767px) {
    .chart {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .empty {
        width: 100%;
    }
}
