@import 'src/components/rem';

.base {
    display: grid;
    grid-template-columns: rem(8px) auto auto;
    grid-column-gap: rem(8px);
    color: var(--color-white);

    .dot {
        grid-column: 1/2;
    }

    .name {
        grid-column: 2/3;
    }

    .value {
        grid-column: 3/4;
        justify-self: flex-end;
    }
}

.name,
.value {
    align-self: center;

    white-space: nowrap;
}

.dot {
    display: inline-block;
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;

    align-self: center;
    justify-self: center;
}

.isHeader {
    grid-template-columns: rem(8px) 1fr;
    color: var(--color-gray-600);

    .name {
        grid-column: 1/3;
    }
}

.emptyTitle {
    grid-template-columns: rem(8px) 1fr;

    .dot {
        grid-column: 1/2;
    }

    .value {
        grid-column: 2/3;
        justify-self: start;
    }
}
