@use 'sass:list';
@import "src/components/rem";

$sizes: 8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px;
$sizesName: 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl', 'fxl';
$variantIndents: 'margin', 'padding';

.indent {
    box-sizing: content-box;
    @each $size in $sizes {
        $index: index($sizes, $size);
        @each $indent in $variantIndents{
            &.all_#{$indent}_#{list.nth($sizesName, $index)} {
                margin: rem($size);
            }
            &.left_#{$indent}_#{list.nth($sizesName, $index)} {
                margin-left: rem($size);
            }
            &.right_#{$indent}_#{list.nth($sizesName, $index)} {
                margin-right: rem($size);
            }
            &.top_#{$indent}_#{list.nth($sizesName, $index)} {
                margin-top: rem($size);
            }
            &.bottom_#{$indent}_#{list.nth($sizesName, $index)} {
                margin-bottom: rem($size);
            }
        }
    }
}
