@import "../../../components/rem";

.base {
    margin-bottom: rem(8px);
}

.disabled label {
    color: var(--color-gray-500) !important;
}

.disabled input + div,
.disabled input:checked + div {
    border-color: var(--color-gray-500) !important;
    background-color: var(--color-gray-500) !important;
    &:before{
        border-color: var(--color-gray-500) !important;
    }
}

.disabled * {
    cursor: default;
}
