@import '../index';
@import '../rem';

.base {
    .inputRadio {
      opacity: 0;
      position: absolute;
    }

    .labelRadio {
        position: relative;
        padding-left: rem(24px);
        cursor: pointer;

        &:after {
            content: none;
            position: absolute;
            left: rem(5px);
            top: rem(6px);
            background: var(--color-white);
            width: rem(6px);
            height: rem(6px);
            border-radius: 50%;
            transition: all .3s ease;
        }

        &:before {
            position: absolute;
            content: '';
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: rem(16px);
            height: rem(16px);
            border: rem(1px) solid var(--color-gray-hover);
            box-sizing: border-box;
            transition: all .3s ease;
        }

        &:active {
            &:before {
                background: var(--color-gray);
            }
        }
    }
}

.inputRadio[type="radio"]:checked + .labelRadio:before {
    background: var(--btn-blue-700);
    border-color: var(--btn-blue-700);
}

.inputRadio[type="radio"]:checked + .labelRadio:active:before {
    background: var(--color-primary-active);
    border-color: var(--color-primary-active);
}

.inputRadio[type="radio"]:checked + .labelRadio:after {
    content: '';
}

.inputRadio[type="radio"].focus:focus + .labelRadio:before {
    box-shadow: 0 0 rem(1px) rem(3px) var(--color-primary-outline);
    border-color: var(--btn-blue-700);
}

.inputRadio[type="radio"]:disabled + .labelRadio {
    cursor: default;
}

.inputRadio[type="radio"]:disabled + .labelRadio:before {
    background: var(--color-gray-hover);
}

.inputRadio[type="radio"]:disabled:focus + .labelRadio:before {
    box-shadow: 0 0 rem(1px) rem(3px) var(--color-primary-outline);
}

.inputRadio[type="radio"]:checked:disabled + .labelRadio:before {
    border-color: var(--color-gray-hover);
    background: var(--color-gray-hover);
}

.inputRadio[type="radio"]:checked:disabled + .labelRadio:after {
    background: var(--color-gray-500);
}

.error {
    .labelRadio {
        color: var(--color-alert);

        &:before {
            border: rem(1px) solid var(--color-alert);
        }
    }

    .inputRadio[type="radio"].focus:focus + .labelRadio:before {
        box-shadow: 0 0 rem(1px) rem(3px) var(--color-alert-20);
        border-color: var(--color-alert);
    }

    .inputRadio[type="radio"]:checked + .labelRadio:before {
        background: var(--color-alert);
        border-color: var(--color-alert);
    }

    .inputRadio[type="radio"]:checked + .labelRadio:active:before {
        background: var(--color-alert-active);
        border-color: var(--color-alert-active);
    }
}