.wrapper {
  height: 100vh;
  overflow: hidden;
  background: #FFFFFF;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 390px;
  width: 100%;
  text-align: center;

  form {
    margin: auto;
    max-width: 272px;
  }
}