@import '../rem';

.base {
  padding: rem(8px) rem(16px);
  border-radius: rem(4px);
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;

  p { margin-bottom: 0; }

  &.primary {
    background: var(--btn-blue-700);
    background-clip: padding-box;

    p { color: var(--btn-primary-color); }

    svg path {
      fill: var(--btn-primary-color);
    }

    &:hover{
      background-color: var(--btn-primary-hover);
    }
    &:active{
      background-color: var(--btn-primary-active);
    }

    &:disabled:hover,
    &:disabled,
    &.disabled:hover,
    &.disabled {
      cursor: default;
      background-color: var(--color-gray);
      pointer-events: none;

      p {
        color: var(--color-gray-500);
      }
      svg path {
        fill: var(--color-gray-500);
      }
    }
  }



  &.hollow, &.hollow-border {
    background-clip: padding-box;
    background: var(--btn-hollow-background);
    color: var(--btn-hollow-color);

    svg path {
      fill: var(--btn-hollow-color);
    }

    &:hover{
      background-color: var(--btn-hollow-hover);
    }
    &:active{
      background-color: var(--btn-hollow-active);
    }

    &:disabled:hover,
    &:disabled,
    &.disabled:hover,
    &.disabled {
      cursor: default;
      background-color: var(--color-gray);
      pointer-events: none;

      p {
        color: var(--color-gray-500);
      }

      svg path {
        fill: var(--color-gray-500) !important;
      }
    }
  }

  &.hollow {
    &:disabled:hover,
    &:disabled,
    &.disabled:hover,
    &.disabled {
      background-color: var(--color-transparent);
    }
  }

  &.icon {
    padding: rem(8px) !important;
  }
  &.text {
    padding: rem(8px) rem(16px) rem(8px) rem(8px) !important;

    svg {
      margin-right: rem(8px);
    }
  }

  &.loading {
    transition: none;
    background: var(--color-gray);
    cursor: default;
    pointer-events: none;
    padding: rem(8px) rem(25px);

    p {
      color: var(--color-gray-500);
    }

    svg path {
      fill: var(--color-gray-500);
    }

    &:hover {
      background: var(--color-gray);
    }
  }

    &.hollow-border {
        border: 1px solid var(--btn-hollow-active);
        padding: rem(7px) rem(16px);

        &.loading {
            padding: rem(7px) rem(25px);
        }
    }
}

.wide{
  width: 100%;
}

.focus:focus {
  box-shadow: 0 0 0 rem(3px) var(--btn-hollow-border);
}
