@import 'src/components/rem';

.base {
    padding: rem(16px) rem(24px) rem(24px);
}

.personal-info {
    margin-top: rem(16px);
}

.navigation {
    display: flex;
    align-items: center;
    margin-top: rem(32px);
    margin-bottom: rem(16px);

    .tabs {
        display: inline-grid;
        grid-template-columns: repeat(3, auto);
        width: auto;
        margin-right: rem(8px);
        border-radius: rem(4px);
        border: rem(1px) solid var(--color-gray);
        background: var(--color-gray);

        & > div:not(:last-child) {
            margin-right: rem(1px);
        }
    }
}

.delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-alert);

    .delete-loader {
        margin-left: rem(8px);
    }

    &:hover {
        color: var(--color-white);

        .delete-loader > path {
            fill: var(--color-white);
        }
    }
}

.delete-snack {
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: var(--btn-blue-700);
    transition: all 0.3s ease;

    &:hover {
        color: var(--color-alert);
    }
}
