@import 'src/components/rem';

.base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: rem(16px) !important;
    text-align: center;
    height: 100%;
}

.title {
    margin-top: rem(8px);
    margin-bottom: rem(4px);
}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-right: rem(8px);

        * {
            fill: var(--color-yellow-700);
        }
    }
}
