@import 'src/components/rem';

.deductions_table {
    .currency{
        justify-content: flex-end;
        flex: 0 0 rem(150px);
        white-space: nowrap;
    }

    .info {
        padding-right: rem(12px);
    }
}

.mobileList{
    margin: 0;
}

.mobileDescription{
    width: 100%;
    padding: rem(12px) rem(16px);

    &:first-child {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: rem(-1px);
            left: rem(16px);
            right: rem(16px);
            height: 1px;
            background: var(--color-gray);
        }
    }

    &:last-child {
        &:after {
            display: block;
        }
    }
}

.mobileDescriptionLine{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: rem(4px);

    & > *:first-child{
        color: var(--color-gray-600)
    }
}

.is_loading::after {
    content: '';
    width: 100%;
    height: rem(2px);
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(-45deg, var(--color-green-100), var(--color-blue-200));
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.warning{
    path {
        fill: var(--color-alert);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 769px) {
    .info {
        div {
            white-space: normal !important;
            min-width: rem(256px);
        }
    }
}
