@import 'src/components/rem';

.base {
    display: grid;
    grid-template-columns: auto rem(16px);
    grid-column-gap: rem(8px);
    align-items: center;
}

.info {
    svg {
        * {
            fill: var(--color-gray-600);
        }
    }
}

@media screen and (max-width: 768px) {
    .base {
        grid-template-columns: rem(180px) rem(16px);
    }
}
