@import 'src/components/rem';

.deductions_filter {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    margin-bottom: rem(8px);
}

.muted {
    display: inline;
    color: var(--color-gray-600);
}

.buttons {
    margin-right: rem(16px);
}

.select {
    flex: 0 0 100%;
}

.content {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;

    & > * {
        margin: rem(4px) rem(4px) rem(4px) 0;
    }
}

.content_mobile {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: rem(8px);

    & > * {
        margin-bottom: rem(8px)
    }
}

@media screen and (max-width: 769px) {
    .deductions_filter {
        margin-bottom: rem(17px);
    }
}
