@import 'src/components/rem';

.base {
    margin-top: rem(16px);
    margin-bottom: rem(16px);

    p {
        display: grid;
        grid-template-columns: rem(117px) auto;
        grid-column-gap: rem(16px);
    }
}
