@import 'src/components/rem';

$widthOffset: rem(32px);

.mobile_header {
    padding: rem(8px) rem(24px);
    box-shadow: inset 0 rem(-1px) 0 var(--color-gray);
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--color-primary-active)
    }
}

.message {
    width: auto;
}

.statements_list {
    padding-top: 0;

    .date {
        flex: 0 0 rem(130px);
        white-space: nowrap;
    }

    .agent {
        max-width: rem(250px);
    }

    .status {
        flex: 0 0 rem(180px);
    }

    .currency {
        justify-content: flex-end;
        flex: 0 0 rem(121px);
        white-space: nowrap;
    }

    .company {
        flex: 0 0 100%;
    }

    .status_chips {
        display: inline-block;
        color: var(--color-black);
        white-space: nowrap;
        height: rem(24px);
        padding: 0 rem(4px);
        line-height: rem(24px);
        background: var(--color-gray);
        border-radius: rem(4px);

        &_default {
            background: var(--color-gray);
        }

        &_success {
            background: var(--color-green-100);
        }

        &_warning {
            background: var(--color-yellow-800);
        }

        &_alert {
            background: var(--color-red-100);
        }
    }
}

.is_loading::after {
    content: '';
    width: 100%;
    height: rem(2px);
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(-45deg, var(--color-green-100), var(--color-blue-200));
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.icon {
    * {
        fill: var(--color-gray-500);
    }
}

.description {
    display: flex;
    align-items: center;
}

.listItem {
    &:first-child {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: calc(100% - #{$widthOffset});
            height: 1px;
            background: var(--color-gray);
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 769px) {
    .mobile_header {
        padding: rem(8px) rem(16px);
    }
}
