@import '../rem';

.base {
  position: relative;
  padding: rem(24px);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(16px);
}

.toolbar-label {
  text-transform: capitalize;
  margin: 0 rem(8px);

  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: rem(15px);
  line-height: rem(24px);
  color: var(--color-black);
  cursor: default;
}

.control {
  cursor: pointer;
}

.event-control {
  position: absolute;
  right: rem(24px);
  top: rem(16px);
}

.count {
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: rem(15px);
  line-height: rem(24px);
  color: var(--color-black);
  cursor: default;
  margin-left: rem(8px);
}

.popup {
    z-index: 12;
}

.popup-content {
  background: #FFFFFF;
  box-shadow: var(--small-shadow);
  border-radius: rem(4px);
  padding: rem(16px);

  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--color-black-30);
}

@media screen and (max-width: 768px) {
    .toolbar {
        justify-content: start;
    }

    .event-control {
        top: rem(-32px);
    }

    .popup {
        position: relative;
        height: 100vh;
    }

    .popup-content {
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
    }

    .popup-close {
        position: absolute;
        top: rem(4px);
        right: rem(4px);
    }
}
