@import '../index';
@import '../rem';

.container {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 4rem;
}

.container div {
  position: absolute;
  top: 1.6875rem;
  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 50%;
  background: var(--spinner-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);

  &:nth-child(1) {
    left: 0.375rem;
    animation: ellipsis1 0.6s infinite;
  }

  &:nth-child(2) {
    left: 0.375rem;
    animation: ellipsis2 0.6s infinite;
  }

  &:nth-child(3) {
    left: 1.625rem;
    animation: ellipsis2 0.6s infinite;
  }

  &:nth-child(4) {
    left: 2.8125rem;
    animation: ellipsis3 0.6s infinite;
  }
}

.container.invert {
  div {
    top: 1.6875rem;
    background: var(--color-white);
  }
}

@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.1875rem, 0);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
