.base {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-column-gap: 16px;

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }

    label {
        justify-self: end;
    }
}

.resultData {
    position: absolute;
    top: 42px;
    left: 156px;

    border: 1px solid var(--color-gray);
    background: #ffffff;
    z-index: 1;
}

.option {
    padding: 8px 24px;
    cursor: pointer;
}

.option:hover {
    background: var(--btn-blue-700);
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }

    .resultData {
        top: 66px;
        left: 0;
    }
}
