@import 'src/components/rem';

.info {
    display: inline-block;
    background-color: var(--color-gray);
    padding-left: rem(4px);
    padding-right: rem(4px);
    border-radius: rem(4px);
    margin-bottom: rem(8px);
}
