@import 'src/components/rem';

.header{
    display: flex;
    position: sticky;
    top: 0;
    flex-flow: row nowrap;
    padding: rem(8px) rem(12px);
    align-items: center;
    min-height: rem(72px);
    background: var(--color-white);
    box-shadow: inset 0px -1px 0px #E7EAEE;
    z-index: 1000;
    overflow: hidden;
    .back{
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(40px);
        height: rem(40px);
        margin-right: rem(12px);
        cursor: pointer;
        border-radius: rem(4px);
        flex: 0 0 rem(40px);
        &:hover,
        &:focus{
            background: var(--color-gray);
        }
    }
    .info{
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 100%;
        overflow: hidden;
        white-space: nowrap;
    }
    .title{
        font-size: rem(20px);
        font-style: normal;
        font-weight: 700;
        line-height: rem(24px);
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
    }

    .description{
        display: flex;
        align-items: center;

        p {
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            overflow: hidden;
        }
    }
}
