@import "src/components/rem";

.base {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: rem(15px);
}

.base24 {
    line-height: rem(24px);
}

.base18 {
    line-height: rem(18px);
}

.muted{
    color: var(--color-gray-600);
}
