@import '../rem';

.base {
  font-style: normal;
  font-weight: bold;
  line-height: rem(24px);
  color: var(--color-black);
}

h1 {
  font-size: rem(20px);
}

h2 {
  font-size: rem(17px);
}

h3 {
  font-size: rem(15px);
}

h4 {
  font-size: rem(13px);
}