@import '../index';
@import '../rem';

.mini {
  width: rem(24px);
  height: rem(24px);
}

.middle {
  width: rem(40px);
  height: rem(40px);
}

.big {
  width: rem(56px);
  height: rem(56px);
}

.avatar {
  border-radius: rem(4px);
  width: rem(40px);
  height: rem(40px);
}

.round {
  border-radius: 50%;
}