@import "../rem";

$widthOffset: rem(48px);
$widthOffsetMobile: rem(32px);

.item {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: rem(12px) rem(24px);

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: calc(100% - #{$widthOffset});
        height: 1px;
        background: var(--color-gray);
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.hoverable{
    &:hover,
    &:focus{
        background: var(--color-gray-hover);
    }
}

.selectable,
.hoverable{
    cursor: pointer;
    &:hover,
    &:focus {
        .checkbox {
            background: #2e2e2e;
            label:before {
                border-color: var(--color-gray-500);
            }
        }

    }
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;

    .content {
        flex: 1 1 100%;
    }

    .icon {
        padding-left: rem(16px);
    }
}

.checkboxContainer {
    display: flex;
    flex: 0 0 rem(48px);
    align-items: center;
    justify-content: center;
    padding: rem(12px) 0;
    margin-left: rem(-12px);
    margin-top: rem(-16px);
    margin-bottom: rem(-16px);
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .item {
        padding: rem(12px) rem(16px);
        &:after {
            width: calc(100% - #{$widthOffsetMobile});
        }
    }
}
