@import "../index";
@import "../rem";

.base {
    display: inline-flex;
    position: relative;

    &.active > button {
        background-color: var(--btn-hollow-active);
    }

    .menu {
        max-width: 90vw;
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        background: var(--color-white);
        box-shadow: var(--small-shadow);
        border-radius: 4px;
        padding: rem(4px) 0;
    }
}
