@import 'src/components/rem';

.base, .paginator {
    padding: rem(12px) rem(24px);
}

@media screen and (max-width: 768px) {
    .base {
        margin-bottom: rem(40px);
    }

    .paginator {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background: var(--color-white);
    }
}
