@import 'src/components/rem';

.popup {
    label {
        color: var(--color-black);
    }
}

.grid {
    display: grid;
    grid-template-columns: rem(140px) 1fr;
    grid-column-gap: rem(16px);

    label {
        justify-self: flex-end;
    }

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }
}

.error-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: rem(8px);

    & > div {
        justify-self: center;
    }
}
.delete > * {
    color: var(--color-alert);
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }
}
