@import '../rem';

.base {
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: rem(15px);
}

.base-24 {
  line-height: rem(24px);
}

.base-18 {
  line-height: rem(18px);
}