@import 'src/components/rem';

.base {
    max-width: rem(1028px);
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: flex-start;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, rem(482px));
    grid-column-gap: rem(16px);
    grid-row-gap: rem(16px);

    & > * {
        align-self: start;
        justify-self: start;
    }

    .one-column, .two-column {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: rem(16px);
    }

    .one-column {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .two-column {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.control {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 990px) {

    .control {
        display: block;
    }

    .charts {
        display: block;

        div {
            margin-right: 0 !important;
        }

        .one-column, .two-column {
            display: block;
        }
    }

    .content {
        display: block;
    }
}
