.scroll {
    height: calc(100vh - 200px);
    overflow-y: scroll;

    @media screen and (max-width: 769px) {
        height: calc(100vh - 154px);
    }
}

.hasSelection {
    @extend .scroll;

    height: calc(100vh - 224px);
}
