@import '../rem';

.base {
    max-width: rem(446px);
    border-radius: rem(4px);
    display: inline-grid;
    transition: all 0.3s ease;
    box-sizing: border-box;

    p {
        grid-column: 2/3;
        white-space: normal
    }
}

.fluid {
    max-width: 100%;
    width: 100%;
}

.icon {
    grid-template-columns: rem(24px) auto;
    padding: rem(8px);
}

.children {
    grid-column-gap: rem(8px);
    padding: rem(8px) rem(16px) rem(8px) rem(8px);
}

.info {
    background: var(--color-yellow-800);
}

.error {
    background: var(--color-red-100);
}

.success {
    background: var(--color-green-100);
}

.default {
    background: var(--color-gray);
}
