@import 'src/components/rem';

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: rem(16px);
}

.description {
    display: flex;
    align-items: center;

    font-size: rem(15px);
    line-height: rem(24px);
    color: var(--color-black);
}
