@import '../index';
@import '../rem';

.base {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(4px) rem(16px);
  background: var(--color-gray);
  border-radius: rem(18px);

  button {
    margin-left: rem(8px);
  }

  * {
    margin-bottom: 0;
    padding: 0!important;
  }
}

.status {
  display: flex;
  align-items: center;
  margin-right: rem(8px);
}

.color {
  * {
    color: var(--color-white) !important;

    &:hover {
      background-color: var(--color-transparent) !important;
    }
  }

  svg * {
    fill: var(--color-white) !important;
  }
}

.alert {
  background: var(--color-alert);
}

.primary {
  background-color: var(--color-primary);
}

.warning {
    background-color: var(--color-yellow-800);
}

.success {
    background-color: var(--color-green-100);
}

.onDelete {
  padding-right: rem(12px);
}

.avatar {
  padding-left: rem(12px);
  padding-right: rem(16px);
}

.onClick {
  cursor: pointer;
}
