@import 'src/components/rem';

.grid {
    display: grid;
    grid-template-columns: rem(155px) 1fr;
    grid-column-gap: rem(16px);

    label {
        justify-self: flex-end;
        text-align: right;
    }

    * {
        align-self: center;
    }

    span {
        grid-column: 2/3;
    }
}
.noSupport {
    margin-top: rem(32px);
    margin-left: rem(171px);
    color: var(--color-alert);

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.small {
    @extend .grid;

    * {
        max-width: 149px;
    }
}

.middle {
    @extend .grid;

    * {
        max-width: 242px;
    }
}

.large {
    @extend .grid;

    * {
        max-width: 414px;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        margin: 0 rem(6px) 0 0;
    }
}

.delete {
    svg {
        path {
            fill: #EC393D !important;
        }
    }

    p {
        color: #EC393D;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;

        label {
            text-align: left;
        }
    }

    .small,
    .middle,
    .large {
        * {
            max-width: none;
        }
    }
}
