@import 'src/components/rem';

.base {
    display: grid;
    grid-template-columns: 1fr rem(44px);

    padding: rem(8px) rem(4px);
    box-shadow: inset 0 rem(-1px) 0 var(--color-gray);
}

.title {
    display: flex;
    align-items: center;
}

.desc {
    color: var(--color-gray-600);
}

.error {
    color: var(--color-alert);
}

.statusControl {
    padding-top: rem(2px);
    align-self: start;
}
