@import 'src/components/rem';

.tabs > div:first-child {
    margin: rem(16px) rem(24px) 0 rem(156px);
}

.tabs > div:last-child {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .tabs > div:first-child {
        margin: rem(16px) rem(24px) 0 rem(24px);
    }
}
