@import 'src/components/rem';

.sub-header {
    margin-top: rem(24px);
    margin-bottom: rem(16px);
}

.wrapper {
    margin-top: rem(48px);
}

.custom-cell {
    position: absolute;
    top: 0;
    right: 0;
}
