@import "../index";
@import "../rem";

.base {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: rem(73px);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);

    .searchInput {
        padding: rem(9px);
    }

    .loading {
        text-align: center;
    }

    .results {
        height: 100%;
        overflow-y: auto;
    }

    .noresult {
        text-align: center;
        margin-top: rem(46px);
    }
}
