@import 'src/components/rem';

.base {
    padding-left: rem(86px);

    @media screen and (max-width: 769px) {
        padding-left: 0;
    }
}

.config {
    box-sizing: content-box !important;
}

.large {
    @extend .config;

    width: rem(414px);

    @media screen and (max-width: 769px) {
        width: 100%;
    }
}

.middle {
    @extend .config;

    width: rem(328px);

    @media screen and (max-width: 769px) {
        width: 100%;
    }
}

.small {
    @extend .config;

    width: rem(156px);
}

.min {
    display: grid;
    grid-template-columns: rem(50px) auto;
    grid-column-gap: rem(8px);

    label {
        align-self: center;
        justify-self: end;
    }

    & > div {
        width: rem(117px);
    }

    & > span {
        grid-column: 1/3;
    }
}

.commission {
    @extend .config;

    display: grid;
    grid-template-columns: rem(156px) rem(80px) auto;
    grid-column-gap: rem(8px);
    margin-top: rem(-8px);

    .large,
    .middle,
    .small {
        padding-left: 0;
    }

    @media screen and (max-width: 769px) {
        grid-template-columns: rem(156px) rem(80px);
        grid-template-rows: repeat(2, rem(40px));
        grid-row-gap: rem(8px);
    }
}

.currency {
    label + div {
        &:after {
            content: attr(data-currency);
            position: absolute;
            width: 20px;
            height: 20px;
        }
    }
}
