@import 'src/components/rem';

.date {
    max-width: rem(156px);
}

.amount {
    max-width: rem(100px);
    justify-content: flex-end;
}

.status {
    max-width: rem(204px);
    box-sizing: content-box;
}

.receipt {
    max-width: rem(54px);
    padding: 0;
    justify-content: center;
}
