@import 'src/components/rem';

.base {
    padding: rem(8px);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-self: flex-end;

    &:first-child {
        justify-self: flex-start;
    }
}
