@import 'src/components/rem';

.base {
    padding: 0;
}

.head {
    box-shadow: inset 0 rem(-1px) 0 var(--color-black);
    display: grid;

    .cell {
        padding: rem(8px);
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-self: flex-end;

        &:first-child {
            justify-self: flex-start;
        }
    }
}
