@import 'src/components/rem';

.base {
    display: grid;
    box-shadow: inset 0 rem(-1px) 0 var(--color-gray);
    cursor: default;

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
