@import 'src/components/rem';

.base {
    display: inline-block;
    width: rem(276px);
    padding: rem(8px) rem(12px);

    background-color: var(--color-white);
    border: rem(1px) solid var(--color-gray);
    box-sizing: border-box;
    border-radius: rem(4px);
}
