@import '../rem';

.base {
  padding: 0;
}

.paragraph {
  grid-column: 1/2;
  grid-row: 1/2;

  align-self: center;
  margin-bottom: 0;
}

.description {
  grid-column: 1/2;
  grid-row: 2/3;
  color: var(--color-gray-500);
}

.button {
  grid-column: 2/3;
  grid-row: 1/2;
}

.icon {
  path {
    fill: var(--color-gray-500) !important;
  }
}