@import '../rem';

.base {
    display: grid;
    box-shadow: inset 0 rem(-1px) 0 var(--color-black);
}

.cell {
    padding: rem(8px);
    cursor: default;
    pointer-events: none;
}

.itemHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: all 0.3s ease;
    cursor: pointer;
    pointer-events: none;

    svg {
        margin-left: rem(4px);
    }
}

.itemHeader.hover {
    pointer-events: auto;

    &:hover {
        color: var(--color-blue-hover);
    }
}

.active {
    color: var(--color-blue-hover);
}

.titleWrap {
    display: grid;
    grid-template-columns: 1fr auto;

    margin-bottom: rem(8px);

    .title {
        grid-column: 1/2;
        align-self: center;
        justify-self: start;
    }

    .buttons {
        grid-column: 2/3;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    .base {
        display: none;
    }

    .titleWrap {
        align-items: center;
        margin-bottom: 0;
    }
}
