@import '../rem';

.base {
    display: flex;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: rem(12px);
    margin: 0;
}

.base-24 {
    line-height: rem(24px);
}

.base-16 {
    line-height: rem(16px);
}
