@import 'src/components/rem';

.base {
    display: inline-flex;
    position: relative;
    padding: rem(8px) rem(16px);
    background: rgba(51, 51, 51, 0.95);
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
    pointer-events: all;
    cursor: pointer;
    color: var(--color-white);

    * {
        fill: var(--color-white);
    }

    *:not(:last-child) {
        margin-right: rem(8px);
    }
}
