@import 'src/components/rem';

.base {
    padding: rem(16px) rem(24px) rem(24px);
}

.sub-header {
    margin-top: rem(24px);
    margin-bottom: rem(16px);
}

.wrapper {
    margin-top: rem(48px);
}
