@import "../rem";

.base {
    padding: rem(8px) rem(16px);
    border-radius: rem(4px);
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    background: var(--btn-blue-700);
    background-clip: padding-box;
    color: var(--btn-primary-color);

    &:hover{
        background-color: var(--btn-primary-hover);
    }
    &:active{
        background-color: var(--btn-primary-active);
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:active,
    &.disabled,
    &.disabled:hover,
    &.disabled:active {
        cursor: default;
        color: var(--color-gray-500);
        background-color: var(--color-gray);
        pointer-events: none;
    }
}
