@import "../rem";

.base {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: rem(12px) rem(16px) rem(16px) rem(24px);
    align-items: center;
    background: #fff;
    border-top: solid 1px #E7EAEE;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
