@import 'src/components/rem';

.base, .paginator {
    padding: rem(12px) rem(24px);
}

.info {
    display: grid;
    grid-template-columns: rem(44px) auto;
    grid-column-gap: rem(16px);
}

.buttons {
    display: flex;
    align-items: center;
}

.delete {
    margin-right: rem(8px);
    svg {
        path {
            fill: var(--color-alert) !important;
        }
    }

    p {
        color: var(--color-alert);
    }
}

.error {
    margin-top: rem(8px);
    color: var(--color-gray-600);
}

@media screen and (max-width: 768px) {
    .base {
        margin-bottom: rem(40px);
    }

    .paginator {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background: var(--color-white);
    }
}
