:root{
  --color-black: #333333;
  --color-black-30: rgba(51, 51, 51, 0.3);
  --color-white: #FFF;
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-transparent: transparent;

  --color-primary: #258FFB;
  --color-primary-hover: #0A81FA;
  --color-primary-active: #0474E6;
  --color-primary-outline: rgba(37, 143, 251, 0.3);

  --color-alert: #EC393D;
  --color-alert-20: rgba(236, 57, 61, 0.2);
  --color-alert-hover: #EA2024;
  --color-alert-active: #DB1519;

  --color-gray: #E7EAEE;
  --color-gray-500: #ABADBA;
  --color-gray-600: #8F92A3;
  --color-gray-hover: #DBDDE6;
  --color-gray-active: #CCCFDB;
  --color-gray-blue: #F4F5F7;

  --color-red-100: #FFD9D9;

  --color-blue-hover: #2691FF;
  --color-blue-200: #99CCFF;

  --color-visited: #850AC2;

  --color-yellow-800: #FFDD99;
  --color-yellow-900: #FFCC66;

  --color-green-100: #D9FFE2;

  --body-background: var(--color-gray-blue);
  --spinner-color: var(--color-primary);

  --btn-primary-background: var(--color-primary);
  --btn-primary-border: var(--color-primary-outline);
  --btn-primary-hover: var(--color-primary-hover);
  --btn-primary-active: var(--color-primary-active);
  --btn-primary-color: var(--color-white);
  --btn-primary-color-disable: var(--color-white-30);

  --btn-blue-700: #2691FF;

  --btn-hollow-background: transparent;
  --btn-hollow-border: var(--color-primary-outline);
  --btn-hollow-hover: var(--color-gray-blue);
  --btn-hollow-active: var(--color-gray);
  --btn-hollow-color: var(--color-black);
  --btn-hollow-color-disable: var(--color-black-30);

  --small-shadow: 0px 4px 12px rgba(204, 207, 219, 0.5);
  --big-shadow: 0px 8px 32px rgba(204, 207, 219, 0.5);
}

* {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
