@import 'src/components/rem';

.field {
    font-size: rem(15px);
    line-height: rem(24px);
    transition: all 0.3s ease;
    background: var(--color-white);
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
    border-radius: rem(4px);
    padding: rem(7px) rem(40px) rem(7px) rem(12px);
    width: 100%;
    box-shadow: none;
    appearance: none;
    outline: none;
}
