.default{
    padding: 24px;
}

.small{
    padding: 8px;
}

.medium{
    padding: 16px;
}

.large{
    padding: 32px;
}

.none{
    padding: 0;
}

@media screen and (max-width: 767px) {
    .default{
        padding: 24px;
    }

    .small{
        padding: 4px 0;
    }

    .medium{
        padding: 8px 0;
    }

    .large{
        padding: 16px 8px;
    }
}
