@import '../rem';

@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

.base {
    display: inline-grid;
    grid-template-columns: rem(36px) 1fr;
    grid-column-gap: rem(8px);
    align-items: center;

    min-height: rem(22px);

    cursor: pointer;

    font-size: rem(15px);
    line-height: rem(24px);
}

.toggle {
    grid-column: 1/2;
    grid-row: 1/2;
}

.label {
    grid-column: 2/3;
    grid-row: 1/2;

    line-height: rem(18px);
}

.toggle {
    width: rem(36px);
    height: rem(20px);
    border-radius: rem(16px);
    border: rem(1px) solid var(--color-gray-hover);
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: rem(-1px);
        left: rem(-1px);
        width: rem(20px);
        height: rem(20px);
        border-radius: 50%;
        background-color: var(--color-gray-blue);
        border: rem(1px) solid var(--color-gray-hover);
        transition: left 0.2s ease, width 0.2s ease, border-radius 0.2s linear;
    }

    &.loading {
        pointer-events: none;
        &:before{
            width: rem(36px);
            border-radius: rem(16px);
            @include animation(progress-bar-stripes 2s linear infinite);
            @include gradient-striped;
            background-size: rem(36px) rem(36px);
            left: rem(-1px) !important;
        }
    }
}

@-webkit-keyframes progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
}

.before {
    @extend .base;
}

.after {
    grid-template-columns: 1fr rem(36px);

    .label {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .toggle, .loading {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.disabled {
    .label {
        cursor: not-allowed;
    }
}

.input:checked + .toggle {
    background-color: var(--color-blue-hover);
    border-color: var(--color-blue-hover);

    &:before {
        left: rem(15px);
        border-color: var(--color-primary-active);
    }
}

.input:disabled + .toggle {
    background-color: var(--color-gray-active);
    border-color: var(--color-gray-active);
    cursor: not-allowed;

    &:before {
        border-color: var(--color-gray-active);
    }
}

.input:checked:disabled + .toggle {
    background-color: var(--color-blue-200);
    border-color: var(--color-blue-200);
    cursor: not-allowed;

    &:before {
        border-color: var(--color-blue-200);
    }
}
