@import 'src/components/rem';

.base {
    display: inline-flex;
    width: auto;
    border-radius: rem(4px);
    border: rem(1px) solid var(--color-gray);
    background: var(--color-gray);
}

.base > * {
    margin-right: rem(1px);
}
.base > *:last-child {
    margin-right: 0;
}
