@import '../rem';

.base{
    text-align: left;
}

.textarea {
    font-family: 'Helvetica', sans-serif;
    font-size: rem(15px);
    line-height: rem(24px);
    border: rem(1px) solid #E7EAEE;
    box-sizing: border-box;
    border-radius: rem(4px);
    width: 100%;
    padding: rem(8px) rem(12px);
    transition: all 0.3s ease;

    &::-webkit-input-placeholder {
        color: var(--color-gray-500);
    }
    &::-moz-placeholder {
        color: var(--color-gray-500);
    }
    &:-moz-placeholder {
        color: var(--color-gray-500);
    }
    &:-ms-input-placeholder {
        color: var(--color-gray-500);
    }

    &:focus {
        box-shadow: 0 0 rem(1px) rem(3px) var(--color-primary-outline);
        border-color: var(--btn-blue-700);
        outline: none;
    }

    &:disabled {
        background: var(--color-gray);
        color: var(--color-gray-500);

        &::-webkit-input-placeholder {
            color: var(--color-gray-active);
        }
        &::-moz-placeholder {
            color: var(--color-gray-active);
        }
        &:-moz-placeholder {
            color: var(--color-gray-active);
        }
        &:-ms-input-placeholder {
            color: var(--color-gray-active);
        }
    }

    &::-webkit-resizer {
        display: none;
    }
}

.label {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: rem(15px);
    line-height: rem(24px);
}

.error {
    .textarea {
        background: var(--color-red-100);
        margin-bottom: rem(3px);
        border: rem(1px) solid var(--color-red-100);

        &:focus {
            box-shadow: 0 0 rem(1px) rem(3px) var(--color-alert-20);
            background: var(--color-transparent);
            border-color: var(--color-alert);
        }

        &:disabled {
            background: var(--color-gray);
            outline: rem(1px) solid var(--color-gray);
        }
    }

    .error-message{
        color: var(--color-alert);
    }
}