@import "../index";
@import "../rem";

.table {
    display: block;
    overflow: auto;
    border-spacing: 0;

    .thead {
        overflow-y: auto;
        overflow-x: hidden;

        .tr {
            box-shadow: inset 0px -1px 0px var(--color-black);

            .th {
                text-align: left;
                line-height: rem(24px);
                padding: rem(8px);
                font-size: 12px;
                font-weight: normal;
                position: relative;

                span {
                    padding-left: rem(4px);
                    svg {
                        vertical-align: middle;
                    }
                }
            }

            .sortable {
                &:hover {
                    color: var(--color-primary)
                }
            }
        }
    }

    .tbody {
        overflow-y: auto;
        overflow-x: hidden;

        .tr {
            box-shadow: inset 0px -1px 0px var(--color-gray);
            position: relative;

            &:hover {
                background-color: var(--color-gray-blue);
                cursor: pointer;
            }

            .td {
                font-size: rem(15px);
                line-height: rem(24px);
                padding: rem(8px);
            }

            .editButton {
                display: none;
            }
        }

        .tr:hover {
            background-color: var(--color-gray-blue);
            cursor: pointer;

            .editButton {
                display: flex;
                width: rem(40px);
                height: rem(40px);
                position: absolute;
                right: 0;

                .editButtonInner {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    svg {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &:hover {
                    background-color: var(--color-gray-hover);
                }
                &:active {
                    background-color: var(--color-gray-active);
                }
            }
        }
    }

    .th, .td {
        margin: 0;
        padding: 0.5rem;

        position: relative;

        :last-child {
            border-right: 0;
        }

        .resizer {
            right: -5px;
            opacity: 1;
            width: 10px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            touch-action: none;

            &.isResizing {
                background: red;
            }
        }
    }

    .th {
        &:last-of-type {
            .resizer {
                right: 0;
            }
        }
    }
}
