@import 'src/components/rem';

.confirm {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: rem(16px) rem(24px);
    border-bottom: solid 1px var(--color-gray);
}

.checkbox {
    display: flex;
    align-items: center;

    div {
        display: block;

        label {
            padding: 0;
        }
    }
}

.selectAll {
    color: var(--btn-blue-700);
}

.disabled {
    color: var(--color-gray-500);
    pointer-events: none;
}

.actionsWrap {
    display: flex;
    align-items: center;
}

.actions {
    position: relative;
    z-index: 1;
    margin-left: rem(8px);
}
