@import 'src/components/rem';

.centerIcon{
    justify-content: center;
}

.paymentsList {
    position: relative;

    .date {
        max-width: rem(156px);
    }

    .contractor {
        max-width: rem(150px);
    }

    .receipt {
        max-width: rem(54px);
        padding: 0;
        justify-content: center;
    }

    .right {
        max-width: rem(100px);
        justify-content: flex-end;
    }

    .status {
        min-width: rem(204px);
        box-sizing: content-box;
    }
}

.label:first-letter {
    text-transform: uppercase;
}

.is_loading::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(-45deg, var(--color-green-100), var(--color-blue-200));
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
