@import 'src/components/rem';

.base {
    max-width: rem(1028px);
    box-sizing: border-box;
}

.control {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, rem(482px));
    grid-column-gap: rem(16px);
    grid-row-gap: rem(16px);
}

.notice {
    margin-bottom: rem(16px);
}
