@import '../rem';

.base {
  position: relative;
  display: grid;
  transition: all 0.3s ease;
  box-shadow: inset 0 rem(-1px) 0 var(--color-gray);

  .buttons {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &:hover {
    background: var(--color-gray-blue);
    .buttons {
      display: block;
    }
  }
}