@import 'src/components/rem';

.base {
    border: rem(1px) solid var(--color-gray);
    border-radius: rem(4px);
    padding: rem(23px) rem(23px) rem(36px) rem(23px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(28px);
}

.navHeader {
    margin-bottom: rem(14px);
}

@media screen and (max-width: 767px) {
    .base {
        margin-bottom: rem(16px);
    }
}
