@import 'src/components/rem';

.base {
    display: inline-flex;
    align-items: center;
    margin-left: rem(13px);
}

.refresh {
    cursor: pointer;

    * {
        fill: var(--btn-blue-700);
    }
}
