.page-wrapper {
    display: grid;
    grid-template-columns: 20.9375rem auto;
    height: 100vh;
    overflow: hidden;
}

.scroll-wrapper {
    padding-top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.list-wrapper {
    border-right: 1px solid #e7eaee;
    position: relative;
}

@media screen and (max-width: 767px) {
    .page-wrapper {
        display: block;
    }

    .list-wrapper {
        border-right: none;
    }
}
