@import '../index';
@import '../rem';

.wrapper {
  position: relative;
}

.overlay {
  display: inline-block;
  border: rem(1px) solid var(--color-gray);
  box-sizing: border-box;
  box-shadow: var(--small-shadow);
  border-radius: rem(8px);
  background: var(--color-white);
  z-index: 2;

  position: absolute;
  left: 0;
  top: rem(72px);
}

.prevBtn {
  position: absolute;
  left: rem(8px);
  top: rem(16px);
}

.nextBtn {
  position: absolute;
  right: rem(8px);
  top: rem(16px);
}

.field {
  width: 100%;
  input {
    border: none;
    &:focus {
      box-shadow: none;
    }

    &:active {
      border: none;
    }
  }
}

.input {
  border: 1px solid var(--color-gray);
  border-radius: rem(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: rem(8px);
  transition: all 0.3s ease;
}

.focus {
  box-shadow: 0 0 1px 3px var(--color-primary-outline);
  outline: none;
}

.resetBtn {
  padding: 0!important;
}

.label {
  font-size: rem(15px);
  line-height: rem(24px);
  align-self: center;
}

.grid {
  display: grid;
  grid-template-columns: rem(140px) 1fr;
  grid-column-gap: rem(16px);
}

.left {
  left: rem(156px);
  top: rem(46px);
}

.normal {
  left: 0;
  top: rem(46px);
}