@import '../index';
@import '../rem';

.wrapper {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: rem(140px) 1fr;
  grid-column-gap: rem(16px);

  .fake-input {
    justify-self: flex-start;
  }
}

.base {
  border: rem(1px) solid var(--color-gray);
  box-sizing: border-box;
  box-shadow: var(--small-shadow);
  border-radius: rem(8px);
  background: var(--color-white);
  position: absolute;
  top: rem(70px);
  left: 0;
  z-index: 2;
    @media all and (max-width: 580px) {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,-50%);
        z-index: 9999;
    }
}

.left {
  left: rem(156px);
  top: rem(48px);
}

.normal {
  left: 0;
  top: rem(48px);
}

.prevBtn {
  position: absolute;
  left: rem(8px);
  top: rem(16px);
}

.nextBtn {
  position: absolute;
  right: rem(8px);
  top: rem(16px);
}

.footer {
    display: grid;
    grid-template-columns: repeat(5, rem(112px));
    grid-column-gap: rem(8px);
    padding: 0 rem(16px) rem(16px);

    .from {
        grid-column: 1/2;

        input {
            padding-right: rem(12px);
        }
    }

    .to {
        grid-column: 2/3;

        input {
            padding-right: rem(12px);
        }
    }

    .close {
        grid-column: 4/5;
    }

    .apply {
        grid-column: 5/6;
    }

    &.small{
        grid-template-columns: repeat(2, rem(136px));
        grid-template-rows: repeat(2, auto);
        grid-row-gap: rem(8px);

        .from {
            grid-column: 1/2;
        }

        .to {
            grid-column: 2/3;
        }

        .close {
            grid-column: 1/2;
        }

        .apply {
            grid-column: 2/3;
        }
    }
}

.label {
  display: block;
  font-size: rem(15px);
  line-height: rem(24px);
  align-self: center;
}

.input {
    position: relative;
    display: inline-block;
    justify-self: start;
    min-width: rem(260px);
}

.placeholder {
  color: var(--color-black);
}

.icon {
    position: absolute;
    right: rem(8px);
    top: rem(8px);
}

.error {
  background: var(--color-red-100);
  border-color: var(--color-red-100);

  &:focus {
    box-shadow: 0 0 rem(1px) rem(3px) var(--color-alert-20);
    border-color: var(--color-alert);
    background: var(--color-white);
  }
}

.error-text {
  display: block;
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: rem(12px);
  line-height: rem(16px);
  color: var(--color-alert);
  margin-top: rem(4px);
}
