@import '../rem';

.react-calendar__navigation {
  margin-bottom: rem(16px);

  .react-calendar__navigation__label {
    font-family: 'Helvetica', sans-serif;
    font-size: rem(15px);
    line-height: rem(24px);
    text-transform: capitalize;
    color: var(--color-black);
    cursor: pointer;
  }
}

.react-calendar__month-view__weekdays {
  margin-bottom: rem(4px);

  .react-calendar__month-view__weekdays__weekday {
    font-family: 'Helvetica', sans-serif;
    font-size: rem(12px);
    line-height: rem(16px);
    color: var(--color-black-30);
    width: rem(40px);
    height: rem(24px);
    text-align: center;

    * {
      text-transform: capitalize;
    }
  }
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__month-view__days {
  button {
    font-family: 'Helvetica', sans-serif;
    font-size: rem(15px);
    line-height: rem(24px);
    width: rem(40px);
    height: rem(32px);
    cursor: pointer;

    &:hover {
      border-radius: rem(16px);
      background: var(--color-gray);
    }
  }
}

.react-calendar__tile--active.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-radius: rem(16px);
  background: var(--btn-blue-700);
  color: var(--color-white);
}

.react-calendar__month-view__days__day--neighboringMonth {
  cursor: default !important;
  color: var(--color-gray-active);

  &:hover {
    background: var(--color-white) !important;
  }
}

.react-calendar__year-view__months,
.react-calendar__year-view__months,
.react-calendar__century-view__decades,
.react-calendar__decade-view__years {
  button {
    font-family: 'Helvetica', sans-serif;
    font-size: rem(15px);
    line-height: rem(24px);
    color: var(--color-black);
  }
}

.react-calendar__year-view__months__month {
  text-transform: capitalize;
}

.react-calendar__tile--now {
  border: rem(1px) solid var(--color-gray) !important;
  box-sizing: border-box;
  border-radius: rem(16px);
}

.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border: none !important;
}

.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year,
.react-calendar__century-view__decades__decade {
  &:hover {
    border-radius: rem(16px);
    background: var(--color-gray);
    cursor: pointer;
  }
}