@import 'src/components/rem';

.base:not(:last-child) {
    margin-bottom: rem(40px);
}

.base p, .grid-wrapper {
    display: grid;
    grid-template-columns: rem(140px) 1fr;
    grid-column-gap: rem(16px);
}

.base p span, .grid-wrapper span {
    grid-column: 2/3;
}

.base .symbol {
    grid-column: 1/2;
}

.popup {
    display: block !important;
}

.popup {
    position: relative;
    z-index: 1;
    height: 100vh;
}

.content {
    overflow-y: scroll;
    height: calc(100% - 150px);
    box-sizing: border-box;
}

.assign-courier {
    grid-column: 2/3;
    justify-self: start;
}
