// header
.menu_header {
  position: relative;
  margin-right: 2px;
  width: 252px;
}

.menu_header > .menu_header_info {
  transition: padding 0.3s;
  font-weight: 600;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 16px;
  color: #2e2e2e;
  background-color: transparent;
  border: 0;
  text-align: left;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(0,0,0,0.06);
    color: #2e2e2e;
    outline: 0
  }
}

.menu_avatar_container {
  flex: 0 0 40px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 4px;
}

.menu_avatar_container .avatar {
  transition-property: none;
  padding: 0;
  overflow: hidden;
  border: 0 solid rgba(0,0,0,0.1);

  border-radius: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
  background-color: #2691FF;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  color: #fff;
}
.menu_avatar_container .avatar.test_mode {
    background-color: #ff7d26;
}

.menu_header_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .text_primary_wrapper {
    display: flex;
  }

  .text_primary{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text_secondary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.dropdown {
    flex: 0 0 auto;
}

.dropdown_menu {
    position: fixed;
    left: 16px;
    top: 64px;
    width: 260px;
    padding: 4px 0;

    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(204, 207, 219, 0.5);
    border-radius: 4px;
}

.dropdown_menu_header {
  display: grid;
  grid-template-columns: 32px auto;

  padding: 16px 16px 8px 16px;
}

.name {
  grid-column: 2/3;
  grid-row: 1/2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.description {
  grid-column: 2/3;
  grid-row: 2/3;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown_menu_link > div {
  transition: all 0s;

  p {
    transition: all 0s;
  }

  &:hover {
    background: #258FFB;
    p {
      color: #fff;
    }
  }
}

.logout {
    width: 100%;
    justify-content: left !important;
    border-radius: 0 !important;

    &:hover {
        background-color: #258FFB !important;

        p {
            color: #fff;
        }
    }
}


// SideBar
.nav_sidebar {
  transition: width 0.25s ease-in-out, left 0.25s ease-in-out;
  position: fixed;
  z-index: 600;
  width: 252px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #F4F5F7;
  border-right: 1px solid #E7EAEE;
  transform: translate3d(0, 0, 0);

  a {
    text-decoration: none
  }

  ul {
    padding-left: 0;
    list-style: none
  }

  svg {
    height: 24px;
    width: 24px;
  }

  li {
    white-space: nowrap;

    a {
      transition: padding 0.3s;
      display: flex;
      align-items: center;
      padding: 8px 24px;
      color: #333333;
    }

    .nav_item_name {
      flex: 1;
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
    }

    &.active{

      & > a {
        color: #258FFB;
      }

      svg path,
      svg circle,
      svg rect{
        fill: #258FFB;
      }
    }
  }

  .nav_icon_container {
    display: flex;
    margin-right: 24px
  }

  .fly_out_top_item {
    display: none
  }

  // свернутый десктоп
  &.sidebar_collapsed_desktop {
    width: 71px;

    .nav_sidebar_inner_scroll {
      overflow-x: hidden
    }

    .badge.badge_pill:not(.fly_out_badge),
    .shortcut_mappings .key:not(.fly_out_badge),
    .menu_header_title,
    .nav_item_name {
      display: none
    }

    .sidebar_top_level_items>li>a {
      min-height: 40px
    }

    .fly_out_top_item {
      display: block
    }

    .menu_avatar_container {
      margin: 0 auto
    }
  }

  // развернутый мобайл
  &.sidebar_expanded_mobile {
    left: 0
  }

  // media
  @media (max-width: 767.98px) {
    left:-252px;
  }

  @media (min-width: 576px) and (max-width: 576px) {
    &:not(.sidebar_collapsed_desktop) {
      box-shadow:inset -1px 0 0 #e5e5e5,2px 1px 3px rgba(0,0,0,0.1)
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    &:not(.sidebar_expanded_mobile) {
      width: 71px
    }

    &:not(.sidebar_expanded_mobile) .nav_sidebar_inner_scroll {
      overflow-x: hidden
    }

    &:not(.sidebar_expanded_mobile) .badge.badge_pill:not(.fly_out_badge),
    &:not(.sidebar_expanded_mobile) .shortcut_mappings .key:not(.fly_out_badge),
    &:not(.sidebar_expanded_mobile) .key:not(.fly_out_badge),
    &:not(.sidebar_expanded_mobile) .menu_header_title,
    &:not(.sidebar_expanded_mobile) .nav_item_name {
      display: none
    }

    &:not(.sidebar_expanded_mobile) .sidebar_top_level_items>li>a {
      min-height: 40px
    }

    &:not(.sidebar_expanded_mobile) .fly_out_top_item {
      display: block
    }

    &:not(.sidebar_expanded_mobile) .menu_avatar_container {
      margin: 0 auto
    }

    &:not(.sidebar_expanded_mobile) .menu_header {
      width: 71px
    }

    //&:not(.sidebar_expanded_mobile) .menu_header .menu_header_info {
    //  padding: 10px 4px
    //}

    &:not(.sidebar_expanded_mobile) .sidebar_top_level_items>li .sidebar_sub_level_items:not(.flyout_list) {
      display: none
    }

    &:not(.sidebar_expanded_mobile) .nav_icon_container {
      margin-right: 0
    }

    &:not(.sidebar_expanded_mobile) .toggle_sidebar_button {
      padding: 8px 24px;
      width: 70px
    }

    &:not(.sidebar_expanded_mobile) .toggle_sidebar_button .collapse_text {
      display: none;
      opacity: 0;
    }
  }
}

// scroll area
.nav_sidebar_inner_scroll {
  height: 100%;
  width: 100%;
  overflow: auto;
}

// sub level
.sidebar_sub_level_items {
  display: none;

  & > li {
    font-size: 15px;
    line-height: 24px;

    &:hover, &:focus {
      background: rgba(0,0,0,0.04)
    }

    a {
      padding: 4px 16px 4px 71px;
    }

    .participants_more,
    .user_list_more {
      .btn_link:hover{
        background: rgba(0,0,0,0.04);
        color: #2e2e2e
      }
    }
  }
}

//top level
.sidebar_top_level_items {
  margin-bottom: 60px;

  @media (max-width: 768px) {
      margin-bottom: 100px;
  }

  & > li > a {
    @media (min-width: 576px) {
      margin-right:1px
    }
  }

  & > li.is_showing_fly_out{

    & > a {
      margin-right: 1px;
    }

    @media (min-width: 576px) {
      .sidebar_sub_level_items {
        position:fixed;
        top: 0;
        left: 0;
        min-width: 150px;
        margin-top: -1px;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(204, 207, 219, 0.5);
        border: 1px solid #eee;
        border-left: 0;
        border-radius: 0 3px 3px 0
      }

      .sidebar_sub_level_items::before {
        content: '';
        position: absolute;
        top: -30px;
        bottom: -30px;
        left: -10px;
        right: -30px;
        z-index: -1
      }

      .sidebar_sub_level_items.is_above {
        margin-top: 1px
      }

      .sidebar_sub_level_items .divider {
        height: 1px;
        padding: 0;
        background-color: #dfdfdf
      }

      .sidebar_sub_level_items>.active {
        box-shadow: none
      }

      .sidebar_sub_level_items>.active>a {
        background-color: transparent
      }

      .sidebar_sub_level_items a {
        padding: 8px 16px;
        color: #2e2e2e;

        &:hover,
        &:focus {
          background-color: #eee
        }
      }
    }
  }

  &>li {
    .badge.badge_pill {
      background-color: rgba(0,0,0,0.08);
      color: #707070
    }

    &.active{
      background: #E7EAEE;

      &>a {
        margin-left: 4px;
        padding-left: 20px;
        &:hover{
          background-color: #E7EAEE;
        }
      }

      .badge.badge_pill {
        font-weight: 600;
        color: #393982;
      }

      .sidebar_sub_level_items:not(.is_fly_out_only) {
        display: block
      }
    }

    //&.is_over>a {
    &:hover>a {
      background-color: rgba(0,0,0,0.06)
    }
  }

  li.is_showing_fly_out ul > li {
    & a {
      &:hover {
        background-color: #258FFB !important;
        span {
          color: #fff;
        }
      }
    }
  }

  li.is_showing_fly_out ul > li.fly_out_top_item {
    & a {
      &:hover {
        strong {
          color: #fff;
        }
      }
    }
  }

  li.is_showing_fly_out ul > li.active {
    & a {
      span {
        color: #258FFB;
      }

      &:hover {
        span {
          color: #fff;
        }
      }
    }
  }
}

// toggle
.sidebar_buttons {
    width: 100%;
    position: fixed;
    bottom: 0;

    border-top: 1px solid #E7EAEE;
}

.toggle_intercom,
.toggle_sidebar_button,
.close_nav_button {
    transition: width 0.3s;
    height: 40px;
    padding-left: 26px;
    background-color: #F4F5F7;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.close_nav_button {
  display: none;
}

.toggle_sidebar_button svg,
.close_nav_button svg {
  fill: #333;
}

.toggle_sidebar_button:hover,
.close_nav_button:hover{
  background-color: #E7EAEE;
  color: #2e2e2e
}

.collapse_text {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 24px;
  opacity: 1;
  transition: opacity 0.3s;
}

// Свернуто на desktop
.sidebar_collapsed_desktop .menu_header {
  width: 71px
}

//.sidebar_collapsed_desktop .menu_header .menu_header_info {
//  padding: 10px 4px
//}

.sidebar_collapsed_desktop .sidebar_top_level_items>li .sidebar_sub_level_items:not(.flyout_list) {
  display: none
}

.sidebar_collapsed_desktop .nav_icon_container {
  margin-right: 0
}

.sidebar_collapsed_desktop .toggle_sidebar_button {
  padding: 8px 24px;
  width: 70px;
}

.sidebar_collapsed_desktop .toggle_sidebar_button .collapse_text {
  display: none;
  opacity: 0;
}

.fly_out_top_item>a {
  display: flex
}

.fly_out_top_item .fly_out_badge {
  margin-left: 8px
}

.fly_out_top_item_name {
  flex: 1
}

.menu {
  position: absolute;
  top: 16px;
  right: 8px;
}

.back {
  position: absolute;
  top: 16px;
  left: 8px;
}

@media (max-width: 767.98px) {
  .toggle_close_mobile_nav{
    display: block;
  }
}

@media (max-width: 767.98px) {
  .close_nav_button{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .toggle_sidebar_button {
    display: none
  }

  .mobile_overlay {
    display: none
  }

  .mobile_overlay.mobile_nav_open {
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    z-index: 300
  }

  .sidebar_expanded_mobile + .mobile_overlay {
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    z-index: 300
  }
}

@media (max-width: 360px) {
  .sidebar_expanded_mobile {
    width: 100%;

    .menu_header {
      width: 100%;
      margin-right: 0;
    }
  }
}
